@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* colour paltette classes */
.l-grey { color: #e0e0e0;} /* materialize grey lighten-2 */
.teal { color: #00897b;}   /* materialize teal lighten-1 */
.green { color:#004d40;}   /* materialize teal darken-3 */
.blue { color:#0d47a1;}    /* materialize blue darken-4 */
.d-grey { color: #616161;} /* materialize grey darken-2 */
.black { color: #000000; } 

body {
/*--apply background in case image does not load, with contrasting colour-----*/
    background-color: #e0e0e0; 
    background: url("/static/img/backdrop.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed 
}
.roboto {
    font-family: "Roboto Slab";
}

.titillium {
    font-family: "Titillium Web";
}


.nav-header{
    font-size: 1.5em;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
}

.flashes h4 {
    line-height: 3;
}

.task-header {
   
    font-size: 1.5em;
    margin: 1px;
    line-height: 42px;
}
.dropdown-text {
    
    font-size: 1.2em;
    margin: 1px;
    line-height: 32px;
}
.btn-small {
    margin: 8px
}
#map {
    height: 35vh;
    width: 100%;
}