/* colour paltette classes */
.l-grey {
    color: #BAC1B8;
}
.teal {
    color: #00897b;
}
.green {
    color:#0c7c59;
} 
.blue {
    color:#0d47a1 ;
}  
.d-grey {
    color: #2B303a;
}
.h-red {
    color: #D64933;
}  
.black {
    color: #000000;
}

/* background: linear-gradient(0deg, rgba(186,193,184,0.08) 0%, rgba(186,193,184,0.08) 50%, rgba(186,193,184,0.08) 100%); */
body {
    /*--apply background in case image does not load, with contrasting colour-----*/
    background-color: #BAC1B8; 
    background: url("/static/img/backdrop.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.nav-header{
    margin-left: 25px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
}

.flashes h4 {
    line-height: 3;
}

.task-header {
    font-size: 1.5em;
    margin: 1px;
    line-height: 42px;
}
.dropdown-text {
    font-size: 1.2em;
    margin: 1px;
    line-height: 32px;
}



.btn-small {
    margin: 8px
}

#map {
    height: 25vh;
    width: 100%;
}