/* colour paltette classes */
.l-grey {
    color: #BAC1B8;
}
.teal {
    color: #58a4b0;
}
.green {
    color:#0c7c59;
} 
.d-grey {
    color: #2B303a;
}
.h-red {
    color: #D64933;
}  
.black {
    color: #000000;
}

/* backgrounf images colour */
body {
    background-color: #443627;
}


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 3;
}

.task-header {
    font-size: 1.5em;
    margin: 1px;
    line-height: 42px;
}

.btn-small {
    margin: 8px
}

#map {
    height: 25vh;
    width: 100%;
}