{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add a Fishing Session</h3>

<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('add_task') }}">
        <!-- Fishing Venue type selection dropdown list -->
        <i class="fas fa-solid fa-mountain prefix light-blue-text text-darken-4"></i>

        <div class="row">
            <div class="input-field col s12">
                <select id="cat_name" name="cat_name" class="validate" required>
                    <option value="" disabled selected>Choose your Location type</option>
                    {% for categories in categories %}
                    <option value="{{ categories.cat_name }}">{{ categories.cat_name }}</option>
                    {% endfor %}
                </select>
                <label>Select Location type</label>
            </div>
        </div>
        <!-- Fishing Venue field input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-location-dot prefix light-blue-text text-darken-4"></i>
                <input id="fd_venue" name="fd_venue" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="fd_venue">Fishing Venue</label>
            </div>
        </div>

        <!-- water temp field input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-temperature-three-quarters prefix light-blue-text text-darken-4"></i>
                <input id="fd_wtemp" name="fd_wtemp" minlength="2" maxlength="10" type="text" class="validate" required>
                <label for="fd_wtemp">Water Temp.</label>
            </div>
        </div>
        <!-- fish caught field input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-fish-fins prefix light-blue-text text-darken-4"></i>
                <input id="fd_fish" name="fd_fish" minlength="2" maxlength="100" type="text" class="validate" required>
                <label for="fd_fish">Fish caught</label>
            </div>
        </div>
        <!-- Lure/fly field input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-mosquito prefix light-blue-text text-darken-4"></i>
                <input id="fd_lurefly" name="fd_lurefly" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="fd_lurefly">Lure/Fly used</label>
            </div>
        </div>
        <!-- condition field input -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-cloud prefix light-blue-text text-darken-4"></i>
                <input id="fd_conditions" name="fd_conditions" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="fd_conditions">Conditions</label>
            </div>
        </div>

        <!-- date picker  -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="fd_date" name="fd_date" type="text" class="datepicker validate" required>
                <label for="fd_date">Date of Session</label>
            </div>
        </div>
        <!-- comment text field  -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="fd_comment" name="fd_comment" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="fd_comment">Notes section</label>
            </div>
        </div>
        <!-- map location  -->
        <div class="row">
            <div class="input-field col s12">
                Select your Fishing Location
                <div id="map"></div>
                <input type="hidden" name="fd_geoloc" id="fd_geoloc">
            </div>
        </div>
        <!-- make public switcher/toggle -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="fd_public">
                        <input type="checkbox" id="fd_public" name="fd_public">
                        <span class="lever"></span>
                        Make public?
                    </label>
                </div>
            </div>
        </div>
        <!-- submit button for sessions-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow" id="submit-btn" disabled>
                    Add Session <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        // require lat/lng fields prior to submission
        function enableDisableSubmitBtn() {
            if ($("#fd_geoloc").val() == "") {
                $("#submit-btn").prop("disabled", true);
            } else {
                $("#submit-btn").prop("disabled", false);
            }
        }

        let map = L.map('map').setView([0, 0], 2);

        L.tileLayer("http://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}", {
            attribution: "Powered by <a href='https://developers.arcgis.com/terms/attribution/' target='_blank' rel='noopener'>Esri</a>"
        }).addTo(map);

        let marker = L.marker([0, 0], {draggable: true}).addTo(map);
        // prefill lat/lng values on map-click or marker-drag
        marker.on("dragend", function(e) {
            updateCoords(marker.getLatLng().lat, marker.getLatLng().lng, map.getZoom());
        });
        map.on("click", function(e) {
            marker.setLatLng(e.latlng);
            updateCoords(marker.getLatLng().lat, marker.getLatLng().lng, map.getZoom());
        });

        function updateCoords(lat, lng, zoom) {
            document.getElementById("fd_geoloc").value = marker.getLatLng().lat.toFixed(5) + ", " + marker.getLatLng().lng.toFixed(5);
            zoom = zoom < 10 ? 10 : zoom;
            map.flyTo([lat, lng], zoom);
            enableDisableSubmitBtn();
        }

    });
</script>
{% endblock %}