{% extends "base.html" %}
{% block content %}


{% for task in tasks %}
<ul class="collapsible">
    <li>

        <div class="collapsible-header task-header white-text text-shadow teal lighten-1"><strong>Venue: {{ task.fd_venue
                }}</strong>
            {% if task.fd_rate == "3" %}
            <i class="fas fa-exclamation-circle light-green-text text-lighten-2 tooltipped" data-position="right"
                data-tooltip="GOOD SESSION"></i>
            {% elif task.fd_rate == "2" %}
                <i class="fas fa-exclamation-circle yellow-text text-lighten-2 tooltipped"
                data-position="right" data-tooltip="AVERAGE SESSION"></i>
            {% elif task.fd_rate == "1" %}
                <i class="fas fa-exclamation-circle red-text text-text-lighten-2 tooltipped"
                data-position="right" data-tooltip="BAD SESSION"></i>
            {% else %}
                <i class="fas fa-exclamation-circle blue-text text-lighten-2 tooltipped" data-position="right"
                data-tooltip="NOT RATED"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <span><strong>Created by: </strong>{{ task.fd_created_by }}</span>
            <hr>
            <span><strong>Date: </strong>{{ task.fd_date }}</span>
            <hr>
            <span><strong>Weather:</strong> {{ task.fd_conditions }}</span>
            <hr>
            <span><strong>Water temp:</strong> {{ task.fd_wtemp }}</span>
        </div>
    </li>
    <li>
        <div class="collapsible-header white-text text-shadow teal lighten-1"><strong>Catch report</strong></div>
        <div class="collapsible-body">
            <span><strong>Fish caught:</strong> {{ task.fd_fish }}</span>
            <hr>
            <span><strong>Caught with:</strong> {{ task.fd_lurefly }}</span>

        </div>
    </li>
    <li>
        <div class="collapsible-header white-text text-shadow teal lighten-1"><strong>Location/Comment</strong></div>
        <div class="collapsible-body">
            <span><strong>Comments:</strong> <br>
                {{ task.fd_comment }}
            </span>
            <hr>
            <span><strong>Location :</strong><br>
                {{ task.fd_geoloc }}
            </span>
        </div>
    </li>
</ul>
{% endfor %}




{% endblock %}