{% extends "base.html" %}
{% block content %}

<h3 class="roboto light-blue-text text-darken-4 center-align">All Sessions</h3>

<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Tasks</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_tasks') }}" class="red btn">Reset</a>
                <button type="submit" class="light-blue darken-1 btn">
                    <i class="fas fa-search left"></i>Search
                </button>
            </div>
        </div>
    </form>
</div>

{% if tasks|length > 0 %}
{% for task in tasks %}
<ul class="collapsible titillium">
    <li>
        <div class="collapsible-header task-header white-text teal lighten-1">
            <div class="col s4">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == task.fd_created_by|lower %}
                <a href="#modal-{{ task._id }}" class="btn-small light-blue lighten-1 modal-trigger">Delete</a>
                        <a href="{{ url_for('edit_task', fdata_id=task._id) }}" class="btn-small teal accent-3 ">Edit</a>
                        {% include "partials/modals.html" %}
                {% endif %}   
            </div>
            <div class="col s9 blue-text text-darken-4">
                <strong>Venue: {{ task.fd_venue }}</strong>
                {% if task.fd_rate|lower  == "good" %}
                <i class="fas fa-exclamation-circle light-green-text text-accent-4 tooltipped" data-position="right"
                    data-tooltip="GOOD SESSION"></i>
                {% elif task.fd_rate|lower  == "average" %}
                <i class="fas fa-exclamation-circle yellow-text text-lighten-2 tooltipped" data-position="right"
                    data-tooltip="AVERAGE SESSION"></i>
                {% elif task.fd_rate|lower  == "bad" %}
                <i class="fas fa-exclamation-circle red-text text-text-lighten-2 tooltipped" data-position="right"
                    data-tooltip="BAD SESSION"></i>
                {% else %}
                <i class="fas fa-exclamation-circle blue-text text-lighten-2 tooltipped" data-position="right"
                    data-tooltip="NOT RATED"></i>
                {% endif %}
            </div>
        </div>

        <div class="collapsible-body dropdown-text">
            <span><strong>Created by: </strong>{{ task.fd_created_by }}</span>
            <hr>
            <span><strong>Date:</strong>{{ task.fd_date }}</span>
            <hr>
            <span><strong>Weather:</strong> {{ task.fd_conditions }}</span>
            <hr>
            <span><strong>Water Temp:</strong> {{ task.fd_wtemp }}</span>
            <hr>
            <span><strong>Water Type:</strong> {{ task.fd_cat_name }}</span>
        </div>
    </li>
    <li>
        <div class="collapsible-header white-text text-shadow teal lighten-1"><strong>Catch Report</strong></div>
        <div class="collapsible-body dropdown-text">
            <span><strong>Fish Caught:</strong> {{ task.fd_fish }}</span>
            <hr>
            <span><strong>Caught With:</strong> {{ task.fd_lurefly }}</span>

        </div>
    </li>
    <li>
        <div class="collapsible-header white-text text-shadow teal lighten-1"><strong>Location/Notes</strong></div>
        <div class="collapsible-body dropdown-text">
            <span><strong>Notes:</strong> <br>
                {{ task.fd_comment }}
            </span>
            <hr>
            <span><strong>Location :</strong><br>
                <a class="waves-effect waves-light btn modal-trigger" data-venue="{{ task.fd_venue }}" data-location="{{ task.fd_geoloc }}" href="#map-modal">View Map</a>
            </span>
        </div>
    </li>
</ul>
{% endfor %}
<!-- Map Modal -->
<div id="map-modal" class="modal">
    <div class="modal-content">
        <h4>Fish Session Map</h4>
        <div id="map"></div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn">Close</a>
    </div>
</div>

{% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}


{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('.modal').modal({
            onOpenEnd: function (modal, trigger) {
                // Initialize the map when the modal is fully opened
                setTimeout(function () {
                    var mapContainer = $('#map');
                    var mapVenue = $(trigger).data("venue");
                    var mapLoc = $(trigger).data("location").split(',').map(Number);
                    if (!mapContainer.data('map')) {
                        var map = L.map('map').setView(mapLoc, 10);

                        L.tileLayer("http://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}", {
                            attribution: "Powered by <a href='https://developers.arcgis.com/terms/attribution/' target='_blank' rel='noopener'>Esri</a>"
                        }).addTo(map);

                        L.marker(mapLoc).addTo(map).bindPopup(mapVenue).openPopup();

                        mapContainer.data('map', map); // Store map instance in data attribute
                    } else {
                        var map = mapContainer.data('map');
                        map.setView(mapLoc, 10); // Update the map center
                        L.marker(mapLoc).addTo(map).bindPopup(mapVenue).openPopup();
                        map.invalidateSize(); // Resize the map if it was already initialized
                    }
                }, 50);
            }
        });
    });
</script>
{% endblock %}
